/* DISEÑO BASE DE USO REPETITIVO O INICIAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #000000;
    --color-dark-blue: #20214f;
    --color-white: #ffffff;
    --color-pink: #ef72b5;
    --letra: "Asap", sans-serif;
}

/* Base del HTML */
body {
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: var(--letra);
    margin: 0;
    padding: 0;
}

header {
    background-color: chartreuse;
}

section {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

/* Distancia del footer y posición de la letra */
footer {
    background-color: var(--color-dark-blue);
    padding: 10px;
    text-align: center;
}

a {
    color: var(--color-pink);
    text-decoration: none;
}

a:hover {
    color: var(--color-white);
}

/* Botón básico */
button {
    background-color: var(--color-pink);
    border: none;
    color: var(--color-black);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/*cambio de color del boton hover*/
button:hover {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}
/*FIN DE DISEÑO BASICO DE USO REPETIVO O BASE*/

/* INICIO DE BARRA DE CONTENIDO */
.container {
    max-width: 2400px;
    margin: 0 auto;
}

.content {
    min-height: 40px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-dark-blue);
    z-index: 10000;
}

.logo {
    font-size: 25px;
    color: var(--color-white);
    font-weight: bold;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    list-style-type: none;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: var(--color-pink);
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {
    color: var(--color-white);
}

/*Ocultar la imagen del menu*/
#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/* FIN DE BARRA DE CONTENIDO */

/* INICIO DE SECCIÓN "SOBRE MÍ" */
.sobre-mi {
    padding: 90px;
    background-color: var(--color-black);
    color: var(--color-white);
}

.contenido-sobre-mi {
    display: flex;
    align-items: center;
}

.imagen {
    flex: 1;
    margin-right: 20px;
}

.imagen img {
    max-width: 80%;
    height: auto;
}

.texto {
    flex: 2;
    text-align: left;
}

.titulo {
    color: var(--color-pink);
    text-align: center;
    margin-bottom: 20px;
}

#botonDescarga {
    display: block;
    margin: 20px auto;
    background-color: var(--color-pink);
    color: var(--color-black);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 5px var(--color-pink), 0 0 10px var(--color-pink), 0 0 20px var(--color-pink), 0 0 40px var(--color-pink);
}

#botonDescarga:hover {
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    box-shadow: 0 0 5px var(--color-dark-blue), 0 0 10px var(--color-dark-blue), 0 0 20px var(--color-dark-blue), 0 0 40px var(--color-dark-blue);
}

.letraColor {
    color: var(--color-pink);
}

.imagen-redonda {
    width: 300px;
    height: 150px;
    border-radius: 30%;
    object-fit: cover;
}

/* FIN DE SECCIÓN "SOBRE MÍ" */

/* INICIO DE SECCIÓN "HABILIDADES" */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    flex: 1 0 calc(33.33% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    height: 180px;
}

/* Invisible texto */
.text {
    display: none;
}

.grid-item:hover > .text {
    margin-bottom: 155px;
    color: var(--color-dark-blue);
    /*borde del ciruclo*/    
    text-align: center;
    position: absolute;
    display: block;
}

/*permite que se haga un zoom en la imagen*/
.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.imagen {
    height: 200px;
}
/* FIN DEL DISEÑO DE LA PARTE DE LAS HABILIDADES*/

/* INICIO DE SECCIÓN "PROYECTOS" */
.grid-container-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.project-card {
    flex: 1 0 calc(33.33% - 40px);
    background-color: var(--color-dark-blue);
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-title {
    font-size: 20px;
    color: var(--color-pink);
    text-align: center;
    margin: 10px 0;
}

.project-description {
    font-size: 16px;
    color: var(--color-white);
    padding: 0 20px 20px 20px;
    text-align: center;
}

.project-link {
    display: block;
    background-color: var(--color-pink);
    color: var(--color-black);
    text-align: center;
    padding: 10px 0;
    margin: 0 20px 20px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.project-link:hover {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    border: 1px solid var(--color-pink);
}

/* FIN DE SECCIÓN "PROYECTOS" */

/* MEDIA QUERIES */
@media (max-width: 991px) {
    .content {
        min-height: 70px;
    }

    .menu {
        top: 0;
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--color-black);
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    /*Hacer funcionar el menu*/
    #menu:checked ~ .navbar {
        display: initial;
    }

    /* Estilos responsivos para la sección "Sobre Mí" */
    .sobre-mi {
        padding: 30px;
    }

    .contenido-sobre-mi {
        flex-direction: column;
        text-align: center;
    }

    .imagen {
        margin: 0 auto 20px;
    }

    .texto {
        text-align: center;
    }

    #botonDescarga {
        margin: 20px auto;
    }

    .imagen-redonda {
        width: 150px;
        height: 150px;
    }
    /* fin estilo responsivos para la sección "Sobre Mí" */

    /* Estilos responsivos para la sección "Habilidades" */
    .grid-item {
        flex: 1 0 calc(50% - 40px);
    }

    /* Estilos responsivos para la sección "Proyectos" */
    .project-card {
        flex: 1 0 calc(50% - 20px);
    }
}

/*ESTILO RESPONSIVO PARA PROYECTOS para que se pueda adaptar */
@media (max-width: 600px) {
    /* Estilos responsivos para la sección "Habilidades" */
    .grid-item {
        flex: 1 0 100%;
    }

    /* Estilos responsivos para la sección "Proyectos" */
    .project-card {
        flex: 1 0 100%;
    }
}

@media (max-width: 768px) {
    .habilidades,
    .proyectos {
        padding: 20px;
    }
}

/* FIN DE MEDIA QUERIES */
